.container {
  padding: 30px 10px 50px;
  background-color: $background;

  .signin {
    max-width: 935px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__wrapper-content {
      width: 350px;
    }

    &__smartphones {
    }

    &__login {
      border: 1px solid $border;
      background-color: $white;
      padding: 50px 25px 20px;
      width: 100%;

      &--wrapper-login {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &--form {
        display: flex;
        flex-direction: column;
        width: 100%;

        margin-top: 30px;

        &--input {
          padding: 12px 10px;
          border-radius: 3px;
          border: 1px solid $border;
          background-color: $background;

          &--password {
            margin-top: 7px;
          }

          &::placeholder {
            color: $text;
            font-size: $fz-12;
          }
        }

        &--button {
          border: none;
          border-radius: 3px;
          background-color: $button-primary;
          padding: 10px 7px;
          transition-duration: 0.3s;
          margin-top: 15px;

          &:hover {
            cursor: pointer;
            background-color: darken($button-primary, 5%);
          }

          &--text {
            color: $white;
            font-weight: 700;
          }
        }
      }

      &--separator {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        font-size: $fz-13;
        color: $text;
        text-transform: uppercase;
        font-weight: 600;
        user-select: none;

        margin-top: 15px;

        &::after {
          content: "";
          border-bottom: 1px solid $border;
          width: 40%;
        }

        &::before {
          content: "";
          border-bottom: 1px solid $border;
          width: 40%;
        }
      }

      &--social {
        display: flex;
        align-items: center;
        gap: 5px;

        font-size: $fz-13;
        color: $text-secondary;
        font-weight: 500;

        margin-top: 25px;

        &::before {
          content: "";
          background-image: url("/src/assets/images/icons.png");
          background-position: -414px -259px;
          background-repeat: no-repeat;
          width: 16px;
          height: 16px;
          display: block;
        }

        &:hover {
          cursor: pointer;
        }
      }

      &--forgot-password {
        font-size: $fz-12;
        color: $text-secondary;
        filter: brightness(0.5);
        transition-duration: 0.3s;

        margin-top: 15px;

        &:hover {
          cursor: pointer;
          filter: brightness(1);
        }
      }
    }

    &__register {
      border: 1px solid $border;
      background-color: $white;
      padding: 20px;
      width: 100%;
      text-align: center;
      
      margin-top: 15px;
    }
  }
}
